######################## GNU General Public License 3.0 ########################
##                                                                            ##
## Copyright (C) 2022─2023 Kevin Matthes                                      ##
##                                                                            ##
## This program is free software: you can redistribute it and/or modify       ##
## it under the terms of the GNU General Public License as published by       ##
## the Free Software Foundation, either version 3 of the License, or          ##
## (at your option) any later version.                                        ##
##                                                                            ##
## This program is distributed in the hope that it will be useful,            ##
## but WITHOUT ANY WARRANTY; without even the implied warranty of             ##
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the              ##
## GNU General Public License for more details.                               ##
##                                                                            ##
## You should have received a copy of the GNU General Public License          ##
## along with this program.  If not, see <https://www.gnu.org/licenses/>.     ##
##                                                                            ##
################################################################################

################################################################################
##
##  AUTHOR      Kevin Matthes
##  BRIEF       Release a new version of this project.
##  COPYRIGHT   GPL-3.0
##  DATE        2022─2023
##  FILE        release.yml
##  NOTE        See `LICENSE' for full license.
##              See `README.md' for project details.
##
################################################################################

name: release

on:
  workflow_dispatch:
    inputs:
      release:
        description: Release type
        required: true
        default: patch
        type: choice
        options:
        - major
        - minor
        - patch

permissions:
  contents: write

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    if: contains(fromJson('["major", "minor", "patch"]'), inputs.release)
    steps:
      - name: python
        uses: actions/setup-python@v4.4.0
        with:
          python-version: 3.9

      - name: checkout
        uses: actions/checkout@v3.3.0
        with:
          persist-credentials: false

      - name: dependencies
        uses: py-actions/py-dependency-install@v4.0.0

      - name: user
        uses: fregante/setup-git-user@v1.1.0

      - name: bump2version
        run: bump2version ${{ inputs.release }}

      - name: cff-release-today
        uses: ./

      - name: scriv
        run: scriv collect

      - name: commit
        run: git commit -am 'Increment ${{ inputs.release }} version'

      - name: push
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}

################################################################################
